{% extends "structure.html" %}
{% block body %}
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								CCTV Service
							</h1>
							<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#">Service</a><span class="lnr lnr-arrow-right"></span>  <a href="#">CCTV service</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->
<section class="service-area section-gap" id="service">
							<div class="container">

								<div class="row justify-content-center mb-4">
								  <div class="col-md-6 "><img src="{{  url_for('static', filename='img/worklogo/uni.jpeg')}}" alt="" style="width:90%; height:auto;" title="" /></div>
								  <div class="col-md-6 "><img src="{{  url_for('static', filename='img/worklogo/hikvision.jpg')}}" alt=""style="width:90%; height:auto;" title="" /></div>
								</div>
									<span class="mt-3">
										<p style="position:relative; display:block; font-size:16px; text-align: justify;line-height: 28px;color: #444444; font-weight: 400; margin-bottom: 15px;" >Places like banks, airports, malls, grocery stores etc. where there is a high number of footfalls, it is always necessary to constantly inspect and observe the surroundings for any anomaly. In such situations, a Closed-Circuit Television (CCTV), also known as video surveillance, is used to transfer signals to a set of monitors through the use of video cameras. The transmission can also be done to a place. In order to monitor an event, the operation of the CCTV system can be kept constant to temporary. In a more advanced format, a DVR digital video recorder is used. The newer models are decentralized IP cameras, some equipped with megapixel detectors etc. </p>
										<p style="position:relative; display:block; font-size:16px; text-align: justify;line-height: 28px;color: #444444; font-weight: 400; margin-bottom: 15px;"> So, keep an update on what is going-on, monitor your business sitting at home, keep track of places that you cannot enter just by installing a CCTV camera. PC SERVICE GURU Computer Sales and Services offers an Annual Maintenance Contract that will help you install a CCTV camera on your business premises, at home, factory, warehouse, offices etc so that you can keep an eye on all activities going-on and also on those who enters your premises. Moreover, we help you to keep your CCTV camera updated and in perfect working condition so that you live a peaceful life.</p>
										<p style="position:relative; display:block; font-size:16px; text-align: justify;line-height: 28px;color: #444444; font-weight: 400; margin-bottom: 15px;">We offer one of the best services in the city at a very economical rate.</p>
							</span>
							</div>
	</section>
						<div class="jumbotron jumbotron-fluid ">
								<div class="container">
									<div class="row">
										<div class="col-lg-2"><img src="{{  url_for('static', filename='img/worklogo/customer-support.png')}}" alt="" title="" /></div>
										<div class="col-lg-10">
											<h1>CCTV Technical Installation</h1>
											<p class="mt-2">Our technical team is thoroughly qualified to handle any top-notch technical concerns. PC SERVICE GURU Computer Sales and Services also proffers a wide variety of other electronic equipment such as Wi-Fi cameras, Wi-Fi NVRs, and PoE NVR. Configuring the forwarding IP address could be a difficult task for analogue users. To make matter simple, we provide a solution which saves time for mass configuration. Sometimes setting up an Ethernet network for IP cameras causes a great problem in some locations. Our integrated solutions include Wi-Fi cameras and NVRs, unlike those cameras which are fixed and fitted at various strategic points. pc service guru Computer’s single fisheye camera can be used single-handedly to inspect the entire location. It saves time, money and labour.</p>

										</div>
									</div>
								</div>
							</div>

							<div class="jumbotron jumbotron-fluid bg-light">
								<div class="container">
									<div class="row">
										<div class="col-lg-2"><img src="{{  url_for('static', filename='img/worklogo/inspection.png')}}" alt="" title="" /></div>
										<div class="col-lg-10">
											<h1>Study Of Area’s Requirement</h1>
											<p class="mt-2">While there are many fixed cameras that need to be installed to cover the entire store, PC SERVICE GURU Computer Sales and Services covers the complete outlet by one fisheye camera. This camera is cost and time effective. Many outlets have a designated area for these cameras.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="jumbotron jumbotron-fluid ">
								<div class="container">
									<div class="row">
										<div class="col-lg-2"><img src="{{  url_for('static', filename='img/worklogo/data.png')}}" alt="" title="" /></div>
										<div class="col-lg-10">
											<h1>Secure And Easy Storing</h1>
											<p class="mt-2">Pc service Guru Computer’s Easy IP cameras compression ratio is high thus offering efficiency needed in business houses. It lowers the headache of transference and storage on the IP inspection system</p>
											<p >When considering a high definition IP system, the bandwidth and storage costs are very high— a standard camera with full HD1080P resolution with one month of recording can result in about 1 TB of space consumed. pc service guru Computer’s enhanced codec technology helps to reduce storage consumption by up to 75% compared to traditional IP systems — an IP camera with full HD1080P resolution. It promises a month’s recording with a consumption of about 650 GB.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="jumbotron jumbotron-fluid bg-light">
								<div class="container">
									<div class="row">
										<div class="col-lg-2"><img src="{{  url_for('static', filename='img/worklogo/cctv.png')}}" alt="" title="" /></div>
										<div class="col-lg-10">
											<h1>Easy To Operate And Manage</h1>
											<p class="mt-2">All pc service guru Computer’s IP cameras support the EZVIZ Cloud point to point service.</p>
											<p >EZVIZ is a cloud platform that empowers the inspection more efficiently and safely. With EZVIZ P2P service, you can view the live video and recorded video files of your house, your stores and your business anytime and anywhere by simply scanning the given QR code on your smartphone.</p>
											<p >While watching the live video one can take the instant snapshot or record it. Even there is a feature of playback to view the previous videos.</p>
											<p >Smart - the alarm is precisely for the reason to detect anomaly, unlawful intrusion or any untoward event.</p>
										</div>
									</div>
								</div>
							</div>
						<!-- Start discount-section Area -->
			<section class="discount-section-area relative section-gap">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row align-items-center justify-content-between no-gutters">
						<div class="col-lg-6 discount-left">
							<h1 class="text-white">Unable to work? Your computer freezes?</h1>
							<p class="text-white">
								 We’ll help you get back to work. Fast and Qualitatively.
							</p>
							<a href="tel:+91 72084 41554 " class="header-btn">Order Service Now</a>
						</div>
						<div class="col-lg-5 discount-right">
							<h4 class="text-white">	SEND ANY QUERY ON MAIL</h4>
		                    <form class="booking-form" id="myForm" action="/cctv" method="POST">
		                        <div class="row">
		                            <div class="col-lg-12 d-flex flex-column">
		                                <input name="name" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" class="form-control mt-20" required="" type="text">
		                            </div>
		                            <div class="col-lg-6 d-flex flex-column">
		                                <input name="phone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" class="form-control mt-20" required="" type="text">
		                            </div>
		                            <div class="col-lg-6 d-flex flex-column">
		                                <input name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="form-control mt-20" required="" type="email">
		                            </div>
		                            <div class="col-lg-12 flex-column">
		                                <textarea rows="5" class="form-control mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
		                            </div>


		                                <button class="genric-btn primary mt-20 mr-2 text-uppercase " type="submit">SUBMIT</button>

									<div class=" justify-content-end send-btn">

		                                <a class="genric-btn success mt-20 text-uppercase justify-content-end" href="https://api.whatsapp.com/send?phone=917208441554&text=Hi%20I%20have%20a%20problem%20with%20my%20Computer.%20Please%20Help%20me%20out%20!!!" >
											<span class="fa fa-whatsapp"></span>
											WHATSAPP US
										</a>
									</div>

		                        </div>
		                    </form>
						</div>
					</div>
				</div>
			</section>
<!-- Print Flash Message Start-->
			  {% with messages = get_flashed_messages( with_categories = true)  %}
			  {% if messages %}
			  {% for category , message in messages %}
			  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
				  {{ message }}
				  <button type="button" class="close" data-dismiss ="alert" aria-label="close">
					  <span aria-hidden="true">&times;</span>
				  </button>
			  </div>
			  {% endfor %}
			  {% endif %}
			  {% endwith %}
			  <!-- Print Flash Message end-->









 {% endblock %}