{% extends "structure.html" %}
{% block body %}


			<!-- start banner Area -->
			<section class="banner-area relative" id="">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Contact Us				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Contact Us</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->				  

			<!-- Start contact-page Area -->
			<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						<div class="map-wrap" ><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d940.7714475534884!2d72.8261319!3d19.4086989!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7a9ced1687ea9%3A0x69734dee956dc899!2sPC%20Service%20Guru!5e0!3m2!1sen!2sin!4v1600483446637!5m2!1sen!2sin" width="1150" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></iframe></div>
						<div class="col-lg-4 d-flex flex-column address-wrap">
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h5>B-18, Rashmi Dhruvita Park Behind Saraswat Bank, New Link Road,Nalasopara-East , Mumbai -401209.</h5>

								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">
									<h5>(+91) 72084 41554</h5>
									<p>Mon to sun 9am to 9 pm</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5>pcserviceguru@gmail.com</h5>
									<p>Send us your query anytime!</p>
								</div>
							</div>														
						</div>
						<div class="col-lg-8">
							<form class="form-area " id="myForm" action="/contact" method="POST" class="contact-form text-right">
								<div class="row">	
									<div class="col-lg-6 form-group">
										<input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
									
										<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

										<input name="subject" placeholder="Enter your subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'" class="common-input mb-20 form-control" required="" type="text">
									</div>
									<div class="col-lg-6 form-group">
										<textarea class="common-textarea form-control" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>				
									</div>

									<div class="col-lg-12">
										<div class="alert-msg" style="text-align: left;"></div>
										<button class="genric-btn primary circle" style="float: right;">Send Message</button>											
									</div>
								</div>
							</form>	
						</div>
					</div>
				</div>	
			</section>
			<!-- End contact-page Area -->
			<!-- Print Flash Message Start-->
			  {% with messages = get_flashed_messages( with_categories = true)  %}
			  {% if messages %}
			  {% for category , message in messages %}
			  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
				  {{ message }}
				  <button type="button" class="close" data-dismiss ="alert" aria-label="close">
					  <span aria-hidden="true">&times;</span>
				  </button>
			  </div>
			  {% endfor %}
			  {% endif %}
			  {% endwith %}
			  <!-- Print Flash Message end-->


 {% endblock %}