{% extends "structure.html" %}
{% block body %}

			<!-- start banner Area -->
			<section class="banner-area relative" id="">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Laptop & Desktop
							</h1>
							<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Service</a><span class="lnr lnr-arrow-right"><a href="#"> Laptop & Desktop </a></span></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->
			<section class="service-area section-gap" id="service">
							<div class="container">

								<div class="row m-2">
								  <div class="col-lg-6 " ><img src="{{  url_for('static', filename='img/worklogo/laptoprepair23.jpg')}}" alt="" style="width:100%;" title="" /></div>
								  <div class="col-lg-6 "><img src="{{  url_for('static', filename='img/worklogo/desktoprepair.jpg')}}" alt=""  style="width:100%;" title="" /></div>
								</div>
								<div class="row mt-5">
									<div class="col-lg-9">

										<p style="position:relative; display:block; font-size:16px; text-align: justify;line-height: 28px;color: #444444; font-weight: 400; margin-bottom: 15px;" >PC SERVICE GURU Computer Sales and Services is one of the most trusted after-sales and services company in Mumbai. Whether you need a desktop or a laptop or you aspire for a branded model or a model on which you can go editing and filming, whatever your need may be, we offer you the “right fit.” We have a wide range of computers and laptops to meet your growing demand. Moreover, we also refurbish old computers and make them as good as new.</p>
										<p style="position:relative; display:block; font-size:16px; text-align: justify;line-height: 28px;color: #444444; font-weight: 400; margin-bottom: 15px;">We are conveniently based in the business hotspot of Mumbai. With the help of our skilled technicians, we offer one of the most efficient and effective services amongst our competitors. We also give home service. Furthermore, we are always there to help and guide our patrons on which equipment to purchase according to their budget and demands.</p>
										<p style="position:relative; display:block; font-size:16px; text-align: justify;line-height: 28px;color: #444444; font-weight: 400; margin-bottom: 15px;">We at PC SERVICE GURU Computer Sales and Services offers premium service in computer sales, computer and laptop service and repair, networking, virus/spyware protection and data recovery. We are adept at removing viruses without much damage to your computer.</p>
									</div>
									<div class="col-lg-3">
										<div class="card-body">
											  <h3 class="card-title text-danger">Laptop & Desktop</h3>
											  <ul style="list-style-type:disc;">
												  <li style="font-weight: bold">AMC of Desktop, Laptop and MAC computers </li>
												  <li style="font-weight: bold">Setup of Desktop, Laptop and MAC computers </li>
												  <li style="font-weight: bold">Sales and Installation </li>
												  <li style="font-weight: bold">Server Setup </li>
												  <li style="font-weight: bold">Service at your doorstep</li>
												  <li style="font-weight: bold">24/7 Telephonic support</li>
											  </ul>
							</div>
									</div>
								</div>
							</div>
			</section>

							<div class="jumbotron jumbotron-fluid">
								<div class="container">
									<div class="row">
										<div class="col-lg-2"><img src="{{  url_for('static', filename='img/worklogo/computer.png')}}" alt="" title="" /></div>
										<div class="col-lg-10">
											<h1>Selection Of Desktop or Laptop</h1>
											<p class="mt-2">When it comes to purchasing a laptop or a desktop computer, it becomes very essential to make the right decision. Keeping client requirements in mind, we analyze and recommend the best product available. For example, many aspects like graphics max-Maya can be carried out only on MAC PC for the best result.</p>
											<p>Many times, people are taken in by newer technology and advanced laptop and purchase them without much knowledge. Therefore, we also suggest the right model with the latest features and technology that is budget-friendly and helps fit your needs.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="jumbotron jumbotron-fluid bg-light">
								<div class="container">
									<div class="row">
										<div class="col-lg-2"><img src="{{  url_for('static', filename='img/worklogo/antivirus.png')}}" alt="" title="" /></div>
										<div class="col-lg-10">
											<h1>Virus Protection</h1>
											<p class="mt-2">On New System, we offer virus protection along with AMC absolutely free of cost for one year. Virus is mostly transferred from one system to another while surfing through unprotected sites. We help you by blocking such sites on your PC, laptops, etc. So have a safe PC and safeguard your child’s interest.</p>
										</div>
									</div>
								</div>
							</div>
						<div class="jumbotron jumbotron-fluid ">
								<div class="container">
									<div class="row">
										<div class="col-lg-2"><img src="{{  url_for('static', filename='img/worklogo/support.png')}}" alt="" title="" /></div>
										<div class="col-lg-10">
											<h1>After Sales Service</h1>
											<p class="mt-2"> For any New System, we offer free AMC for one year. After that, you can extend AMC at a nominal cost. You can also avail of a new software installation service at some extra cost. We also provide 24 × 7 telephonic support for any problem.</p>
										</div>
									</div>
								</div>
							</div>

							<!-- Start discount-section Area -->
			<section class="discount-section-area relative section-gap">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row align-items-center justify-content-between no-gutters">
						<div class="col-lg-6 discount-left">
							<h1 class="text-white">Unable to work? Your computer freezes?</h1>
							<p class="text-white">
								 We’ll help you get back to work. Fast and Qualitatively.
							</p>
							<a href="tel:+91 72084 41554 " class="header-btn">Order Service Now</a>
						</div>
						<div class="col-lg-5 discount-right">
							<h4 class="text-white">	SEND ANY QUERY ON MAIL</h4>
		                    <form class="booking-form" id="myForm" action="/lapdesk" method="POST">
		                        <div class="row">
		                            <div class="col-lg-12 d-flex flex-column">
		                                <input name="name" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" class="form-control mt-20" required="" type="text">
		                            </div>
		                            <div class="col-lg-6 d-flex flex-column">
		                                <input name="phone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" class="form-control mt-20" required="" type="text">
		                            </div>
		                            <div class="col-lg-6 d-flex flex-column">
		                                <input name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="form-control mt-20" required="" type="email">
		                            </div>
		                            <div class="col-lg-12 flex-column">
		                                <textarea rows="5" class="form-control mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
		                            </div>


		                                <button class="genric-btn primary mt-20 mr-2 text-uppercase " type="submit">SUBMIT</button>

									<div class=" justify-content-end send-btn">

		                                <a class="genric-btn success mt-20 text-uppercase justify-content-end" href="https://api.whatsapp.com/send?phone=917208441554&text=Hi%20I%20have%20a%20problem%20with%20my%20Computer.%20Please%20Help%20me%20out%20!!!" >
											<span class="fa fa-whatsapp"></span>
											WHATSAPP US
										</a>
									</div>

		                        </div>
		                    </form>
						</div>
					</div>
				</div>
			</section>
	<!-- Print Flash Message Start-->
			  {% with messages = get_flashed_messages( with_categories = true)  %}
			  {% if messages %}
			  {% for category , message in messages %}
			  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
				  {{ message }}
				  <button type="button" class="close" data-dismiss ="alert" aria-label="close">
					  <span aria-hidden="true">&times;</span>
				  </button>
			  </div>
			  {% endfor %}
			  {% endif %}
			  {% endwith %}
			  <!-- Print Flash Message end-->


 {% endblock %}