{% extends "structure.html" %}
{% block body %}
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								PRODUCT
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Product & sale </a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->
				<section class="sale-banner">
					<div class="container-fluid">
						<div class="image mt-4 mb-6">
							<img src="{{  url_for('static', filename='img/sale2.png')}}" alt="" class="img-fluid" title="" />
						</div>

					</div>
				</section>


<div class="container mt-3 ">

						<div class="card-group">
						  <div class="card">
							<img src="{{  url_for('static', filename='img/product/i5.jpg')}}" class="card-img-top" alt="...">
							<div class="card-body">
							  <h5 class="card-title">Core I5 Processor</h5>
							  <p class="card-text">9th Gen Intel® Core™ i5-9600K unlocked desktop processor. Features Intel® Turbo Boost Technology 2.0 and offers powerful productivity</p>
							</div>
							<button type="button" class="btn btn-outline-danger">Ask for details</button>
						  </div>
						  <div class="card">
							<img src="{{  url_for('static', filename='img/product/i7.jpg')}}" class="card-img-top" alt="...">
							<div class="card-body">
							  <h5 class="card-title">Core I7 Processor</h5>
							  <p class="card-text">Deliver a fantastic entertainment and gaming experience with 10th Gen Intel® Core™ i7 processors featuring built-in AI and Wi-Fi 6</p>
							</div>
							<button type="button" class="btn btn-outline-danger">Ask for details</button>
						  </div>
						  <div class="card">
							<img src="{{  url_for('static', filename='img/product/amd.jpg')}}" class="card-img-top" alt="...">
							<div class="card-body">
							  <h5 class="card-title">AMD Processor</h5>
							  <p class="card-text"> AMD Ryzen™ desktop processors offer uncompromising features and smooth performance whether you're a gamer, a creator, or a casual user.</p>
							</div>
							<button type="button" class="btn btn-outline-danger">Ask for details</button>
						  </div>
						</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-md-12 pb-50 header-text text-center">

								</div>
							</div>
					<!-- 2nd page layouts-->
					<div class="container-fluid">
						<div class="row m-1" >
							<div class="card" style="width:210px">
							  <img class="card-img-top" src="{{  url_for('static', filename='img/product/cpu-cabinet.jpg')}}" alt="Card image">
							  <div class="card-body">
								<h4 class="card-title">Cabinet</h4>
								<p class="card-text">All types of cabinet avalible.</p>
								<button type="button" class="btn btn-outline-warning">Ask for details</button>
							  </div>
							</div>
							<div class="card" style="width:210px">
							  <img class="card-img-top" src="{{  url_for('static', filename='img/product/mouse.jpg')}}" alt="Card image">
							  <div class="card-body">
								<h4 class="card-title">Gaming Mouse</h4>
								<p class="card-text">Gaming & non-gaming mouse available.</p>
								<button type="button" class="btn btn-outline-warning">Ask for details</button>
							  </div>
							</div>
							<div class="card" style="width:210px">
							  <img class="card-img-top" src="{{  url_for('static', filename='img/product/keyboard.jpg')}}" alt="Card image">
							  <div class="card-body">
								<h4 class="card-title">keyboard</h4>
								<p class="card-text">wire or wireless keyboard available</p>
								<button type="button" class="btn btn-outline-warning">Ask for details</button>
							  </div>
							</div>
							<div class="card" style="width:210px">
							  <img class="card-img-top" src="{{  url_for('static', filename='img/product/hd1.jpg')}}" alt="Card image">
							  <div class="card-body">
								<h4 class="card-title">Hard Disk </h4>
								<p class="card-text">1TB/2TB/500GB Hard Disk available</p>
								<button type="button" class="btn btn-outline-warning">Ask for details</button>
							  </div>
							</div>
							<div class="card" style="width:210px">
							  <img class="card-img-top" src="{{  url_for('static', filename='img/product/webcam.jpg')}}" alt="Card image">
							  <div class="card-body">
								<h4 class="card-title">WebCam</h4>
								<p class="card-text">Webcam available.</p>
								<button type="button" class="btn btn-outline-warning">Ask for details</button>
							  </div>
							</div>
							<div class="card" style="width:210px">
							  <img class="card-img-top" src="{{  url_for('static', filename='img/product/coolerfan.jpg')}}" alt="Card image">
							  <div class="card-body">
								<h4 class="card-title">Cooler Fan</h4>
								<p class="card-text">Designed Cooler Fan available.</p>
								<button type="button" class="btn btn-outline-warning">Ask for details</button>
							  </div>
							</div>
						</div>
					</div>
<!-- 3rd layout-->
						<div class="container-fluid">
							<div class="row justify-content-center">
								<div class="card m-2" style="width: 400px;">
									<div class="row no-gutters">
										<div class="col-sm-5">
											<img class="card-img" src="{{  url_for('static', filename='img/product/wiremouse.jpeg')}}" alt="">
										</div>
										<div class="col-sm-7">
											<div class="card-body">
												<h5 class="card-title">Wire Mouse</h5>
												<p class="card-text">wired as well as wireless mouse available.</p>
												<button type="button" class="btn btn-outline-primary">Ask for details</button>
											</div>
										</div>
									</div>
        						</div>
								<div class="card m-2" style="width: 400px;">
									<div class="row no-gutters">
										<div class="col-sm-5">
											<img class="card-img" src="{{  url_for('static', filename='img/product/smps.jpg')}}" alt="">
										</div>
										<div class="col-sm-7">
											<div class="card-body">
												<h5 class="card-title">SMPS</h5>
												<p class="card-text">High voltage SMPS available.</p>
												<button type="button" class="btn btn-outline-primary">Ask for details</button>
											</div>
										</div>
									</div>
        						</div>
								<div class="card m-2" style="width: 400px;">
									<div class="row no-gutters">
										<div class="col-sm-5">
											<img class="card-img" src="{{  url_for('static', filename='img/product/Ram.jpg')}}" alt="">
										</div>
										<div class="col-sm-7">
											<div class="card-body">
												<h5 class="card-title">RAM</h5>
												<p class="card-text">DDR2/DDR3/DDR4 RAM available.</p>
												<button type="button" class="btn btn-outline-primary">Ask for details</button>
											</div>
										</div>
									</div>
        						</div>
							</div>
						</div>
<!--4th content-->
						<div class="container-fluid">
							<div class="row justify-content-center">
								<div class="card m-2" style="width: 400px;">
									<div class="row no-gutters">
										<div class="col-sm-5">
											<img class="card-img" src="{{  url_for('static', filename='img/product/monitor.jpg')}}" alt="">
										</div>
										<div class="col-sm-7">
											<div class="card-body">
												<h5 class="card-title">Monitor</h5>
												<p class="card-text">All company monitor available.</p>
												<button type="button" class="btn btn-outline-primary">Ask for details</button>
											</div>
										</div>
									</div>
        						</div>
								<div class="card m-2" style="width: 400px;">
									<div class="row no-gutters">
										<div class="col-sm-5">
											<img class="card-img" src="{{  url_for('static', filename='img/product/dellcab.jpg')}}" alt="">
										</div>
										<div class="col-sm-7">
											<div class="card-body">
												<h5 class="card-title">Dell-Cabinet</h5>
												<p class="card-text">Multi-featured small cabinet available.</p>
												<button type="button" class="btn btn-outline-primary">Ask for details</button>
											</div>
										</div>
									</div>
        						</div>
								<div class="card m-2" style="width: 400px;">
									<div class="row no-gutters">
										<div class="col-sm-5">
											<img class="card-img" src="{{  url_for('static', filename='img/product/pcwire.jpg')}}" alt="">
										</div>
										<div class="col-sm-7">
											<div class="card-body">
												<h5 class="card-title">PC Cable</h5>
												<p class="card-text">all cable  available.</p>
												<button type="button" class="btn btn-outline-primary">Ask for details</button>
											</div>
										</div>
									</div>
        						</div>
							</div>
						</div>
<!-- 5th conta-->


			<div class="container mt-3 mb-3">
				<div class="row">
					<div class="card" style="width: 8rem;">
						  <img class="card-img-top" src="{{  url_for('static', filename='img/product/wd.jpeg')}}" alt="Card image cap">
					</div>
					<div class="card" style="width: 8rem;">
						  <img class="card-img-top" src="{{  url_for('static', filename='img/product/temper-glass.jpg')}}" alt="Card image cap">
					</div>
					<div class="card" style="width: 8rem;">
						  <img class="card-img-top" src="{{  url_for('static', filename='img/product/mobcover.jpg')}}" alt="Card image cap">
					</div>
					<div class="card" style="width: 8rem;">
						  <img class="card-img-top" src="{{  url_for('static', filename='img/product/wiremob.png')}}" alt="Card image cap">
					</div>
					<div class="card" style="width: 8rem;">
						  <img class="card-img-top" src="{{  url_for('static', filename='img/product/bluhairphone.jpeg')}}" alt="Card image cap">
					</div>
					<div class="card" style="width: 8rem;">
						  <img class="card-img-top" src="{{  url_for('static', filename='img/product/hd1.jpg')}}" alt="Card image cap">
					</div>
					<div class="card" style="width: 8rem;">
						  <img class="card-img-top" src="{{  url_for('static', filename='img/product/phonecharger.jpg')}}" alt="Card image cap">
					</div>
					<div class="card" style="width: 8rem;">
						  <img class="card-img-top" src="{{  url_for('static', filename='img/product/headphone.jpg')}}" alt="Card image cap">
					</div>

				</div>
			</div>

			<!-- Start discount-section Area -->
			<section class="discount-section-area relative section-gap">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row align-items-center justify-content-between no-gutters">
						<div class="col-lg-6 discount-left">
							<h1 class="text-white">Unable to work? Your computer freezes?</h1>
							<p class="text-white">
								 We’ll help you get back to work. Fast and Qualitatively.
							</p>
							<a href="tel:+91 72084 41554" class="header-btn">Order Service Now</a>
						</div>
						<div class="col-lg-5 discount-right">
							<h4 class="text-white">	SEND ANY QUERY ON MAIL</h4>
		                    <form class="booking-form" id="myForm" action="/product" method="POST">
		                        <div class="row">
		                            <div class="col-lg-12 d-flex flex-column">
		                                <input name="name" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" class="form-control mt-20" required="" type="text">
		                            </div>
		                            <div class="col-lg-6 d-flex flex-column">
		                                <input name="phone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" class="form-control mt-20" required="" type="text">
		                            </div>
		                            <div class="col-lg-6 d-flex flex-column">
		                                <input name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="form-control mt-20" required="" type="email">
		                            </div>
		                            <div class="col-lg-12 flex-column">
		                                <textarea rows="5" class="form-control mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
		                            </div>


		                                <button class="genric-btn primary mt-20 mr-2 text-uppercase " type="submit">SUBMIT</button>

									<div class=" justify-content-end send-btn">

		                                <a class="genric-btn success mt-20 text-uppercase justify-content-end" href="https://api.whatsapp.com/send?phone=917208441554&text=Hi%20I%20have%20a%20problem%20with%20my%20Computer.%20Please%20Help%20me%20out%20!!!" >
											<span class="fa fa-whatsapp"></span>
											WHATSAPP US
										</a>
									</div>

		                        </div>
		                    </form>
						</div>
					</div>
				</div>
			</section>
<!-- Print Flash Message Start-->
			  {% with messages = get_flashed_messages( with_categories = true)  %}
			  {% if messages %}
			  {% for category , message in messages %}
			  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
				  {{ message }}
				  <button type="button" class="close" data-dismiss ="alert" aria-label="close">
					  <span aria-hidden="true">&times;</span>
				  </button>
			  </div>
			  {% endfor %}
			  {% endif %}
			  {% endwith %}
			  <!-- Print Flash Message end-->

 {% endblock %}